Repository zopiolabs/zopio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zopiolabs/core-team, @zopiolabs/dx-team, @zopiolabs/ux-team, @zopiolabs/docs-team, @zopiolabs/product-team, @zopiolabs/infra-team

.github/CODEOWNERS:

# CODEOWNERS for Zopio Monorepo

# 🔒 Default: All files require core-team review unless overridden
* @zopiolabs/core-team

# ──────────────────────────────────────────────────────
# 🔌 DX Team (Development Experience and Backend Logics)
/apps/api/                       @zopiolabs/dx-team @zopiolabs/core-team
/devapps/dbstudio/               @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth/                  @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-abac/             @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-hooks/            @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-log/              @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-rbac/             @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-runner/           @zopiolabs/dx-team @zopiolabs/core-team
/packages/core-utils/            @zopiolabs/dx-team @zopiolabs/core-team
/packages/database/              @zopiolabs/dx-team @zopiolabs/core-team
/packages/mcp/                   @zopiolabs/dx-team @zopiolabs/core-team
/packages/trigger/               @zopiolabs/dx-team @zopiolabs/core-team
/packages/trigger-rules/         @zopiolabs/dx-team @zopiolabs/core-team
/packages/webhooks/              @zopiolabs/dx-team @zopiolabs/core-team
/registry/schemas/               @zopiolabs/dx-team @zopiolabs/core-team
/registry/types/                 @zopiolabs/dx-team @zopiolabs/core-team

# ───────────────────────────────────────────
# 🎨 UX Team (User Experience and Interfaces)
/apps/web/                       @zopiolabs/ux-team @zopiolabs/core-team
/devapps/emailstudio/            @zopiolabs/ux-team @zopiolabs/core-team
/devapps/storybook/              @zopiolabs/ux-team @zopiolabs/core-team
/packages/cms/                   @zopiolabs/ux-team @zopiolabs/core-team
/packages/design-system/         @zopiolabs/ux-team @zopiolabs/core-team
/packages/email/                 @zopiolabs/ux-team @zopiolabs/core-team
/packages/internationalization/  @zopiolabs/ux-team @zopiolabs/core-team
/packages/notifications/         @zopiolabs/ux-team @zopiolabs/core-team
/packages/seo/                   @zopiolabs/ux-team @zopiolabs/core-team
/websites/zopio-splash/          @zopiolabs/ux-team @zopiolabs/core-team
/registry/examples/              @zopiolabs/ux-team @zopiolabs/core-team

# ─────────────────────────────────────────────
# 📚 Docs Team (MD Documentations, Docs Portal)
/apps/docs/                      @zopiolabs/docs-team @zopiolabs/core-team
/websites/zopio-docs/            @zopiolabs/docs-team @zopiolabs/core-team
/README.md                       @zopiolabs/docs-team @zopiolabs/core-team
/CHANGELOG.md                    @zopiolabs/docs-team @zopiolabs/core-team
/CONTRIBUTING.md                 @zopiolabs/docs-team @zopiolabs/core-team
/LICENSE.md                      @zopiolabs/docs-team @zopiolabs/core-team
/registry/README.md              @zopiolabs/docs-team @zopiolabs/core-team

# ──────────────────────────────────────────────────────────
# 🧩 Product Team (App, Analytics, Payments, Business Flows)
/apps/app/                       @zopiolabs/product-team @zopiolabs/core-team
/packages/ai/                    @zopiolabs/product-team @zopiolabs/core-team
/packages/analytics/             @zopiolabs/product-team @zopiolabs/core-team
/packages/collaboration/         @zopiolabs/product-team @zopiolabs/core-team
/packages/feature-flags/         @zopiolabs/product-team @zopiolabs/core-team
/packages/payments/              @zopiolabs/product-team @zopiolabs/core-team
/registry/apps/                  @zopiolabs/product-team @zopiolabs/core-team
/registry/integrations/          @zopiolabs/product-team @zopiolabs/core-team
/registry/plugins/               @zopiolabs/product-team @zopiolabs/core-team

# ───────────────────────────────────────────────────────
# ⚙️ Infra Team (Infrastructure, CI/CD, DevOps, Security)
/.github/                        @zopiolabs/infra-team @zopiolabs/core-team
/.husky/                         @zopiolabs/infra-team @zopiolabs/core-team
/.vscode/                        @zopiolabs/infra-team @zopiolabs/core-team
/e2e/                            @zopiolabs/infra-team @zopiolabs/core-team
/packages/next-config/           @zopiolabs/infra-team @zopiolabs/core-team
/packages/observability/         @zopiolabs/infra-team @zopiolabs/core-team
/packages/rate-limit/            @zopiolabs/infra-team @zopiolabs/core-team
/packages/security/              @zopiolabs/infra-team @zopiolabs/core-team
/packages/storage/               @zopiolabs/infra-team @zopiolabs/core-team
/packages/testing/               @zopiolabs/infra-team @zopiolabs/core-team
/packages/typescript-config/     @zopiolabs/infra-team @zopiolabs/core-team
/registry/ci/                    @zopiolabs/infra-team @zopiolabs/core-team
/registry/templates/             @zopiolabs/infra-team @zopiolabs/core-team
/registry/tools/                 @zopiolabs/infra-team @zopiolabs/core-team
/scripts/                        @zopiolabs/infra-team @zopiolabs/core-team
/turbo/                          @zopiolabs/infra-team @zopiolabs/core-team
/.autorc                         @zopiolabs/infra-team @zopiolabs/core-team
/.cursorrules                    @zopiolabs/infra-team @zopiolabs/core-team
/.editorconfig                   @zopiolabs/infra-team @zopiolabs/core-team
/.gitattributes                  @zopiolabs/infra-team @zopiolabs/core-team
/.gitignore                      @zopiolabs/infra-team @zopiolabs/core-team
/.lintstagedrc.js                @zopiolabs/infra-team @zopiolabs/core-team
/.windsurfrules                  @zopiolabs/infra-team @zopiolabs/core-team
/biome.json                      @zopiolabs/infra-team @zopiolabs/core-team
/commitlint.config.js            @zopiolabs/infra-team @zopiolabs/core-team
/package.json                    @zopiolabs/infra-team @zopiolabs/core-team
/pnpm-lock.yaml                  @zopiolabs/infra-team @zopiolabs/core-team
/pnpm-workspace.yaml             @zopiolabs/infra-team @zopiolabs/core-team
/tsconfig.json                   @zopiolabs/infra-team @zopiolabs/core-team
/tsup.config.ts                  @zopiolabs/infra-team @zopiolabs/core-team
/turbo.json                      @zopiolabs/infra-team @zopiolabs/core-team

feat: add listbox and marquee stories to storybook components
  devapps/storybook/stories/listbox.stories.tsx
  devapps/storybook/stories/marquee.stories.tsx
  devapps/storybook/stories/mini-calendar.stories.tsx
  packages/design-system/ui/listbox.tsx
  packages/design-system/ui/marquee.tsx
  packages/design-system/ui/mini-calendar.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add storybook stories for NumberFlow and Pill components
  devapps/storybook/stories/number-flow.stories.tsx
  devapps/storybook/stories/pill.stories.tsx
  devapps/storybook/stories/pricing-section.stories.tsx
  packages/design-system/ui/number-flow.tsx
  packages/design-system/ui/pill.tsx
  packages/design-system/ui/pricing-section.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add Storybook stories for QRCode, QueryBuilder, and Rating components
  devapps/storybook/stories/qr-code.stories.tsx
  devapps/storybook/stories/query-builder.stories.tsx
  devapps/storybook/stories/rating.stories.tsx
  packages/design-system/ui/qr-code.tsx
  packages/design-system/ui/query-builder.tsx
  packages/design-system/ui/rating.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add Storybook stories for ReactFlow playground, RelativeTime and Snippet components
  devapps/storybook/stories/react-flow-playground.stories.tsx
  devapps/storybook/stories/relative-time.stories.tsx
  devapps/storybook/stories/snippet.stories.tsx
  packages/design-system/ui/react-flow-playground.tsx
  packages/design-system/ui/relative-time.tsx
  packages/design-system/ui/snippet.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add Storybook stories for Spinner, Status and Tags components
  devapps/storybook/stories/spinner.stories.tsx
  devapps/storybook/stories/status.stories.tsx
  devapps/storybook/stories/tags.stories.tsx
  packages/design-system/ui/spinner.tsx
  packages/design-system/ui/status.tsx
  packages/design-system/ui/tags.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add Storybook components for TweetCard and VideoPlayer
  devapps/storybook/stories/tweet-card.stories.tsx
  devapps/storybook/stories/video-player.stories.tsx
  devapps/storybook/stories/word-reveal.stories.tsx
  packages/design-system/ui/tweet-card.tsx
  packages/design-system/ui/video-player.tsx
  packages/design-system/ui/word-reveal.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add project setup MCP and CLI flow
  apps/api/.env.example
  apps/api/app/rate-limited/ping/route.ts
  apps/api/app/storage/example-upload/route.ts
  apps/app/.env.example
  apps/web/.env.example
  package.json
  packages/database/prisma/schema.prisma
  packages/project-setup-mcp/README.md
  packages/project-setup-mcp/package.json
  packages/project-setup-mcp/src/index.ts
  packages/project-setup-mcp/src/interview.ts
  packages/project-setup-mcp/src/plan.ts
  packages/project-setup-mcp/src/schemas.ts
  packages/project-setup-mcp/src/server.ts
  packages/project-setup-mcp/src/validate-scenario.ts
  packages/project-setup-mcp/tsconfig.json
  packages/project-setup-mcp/tsup.config.ts
  packages/storage/.env.example
  pnpm-lock.yaml
  scripts/index.ts
  scripts/project-setup.ts
Owners: @zopiolabs/dx-team, @zopiolabs/core-team, @zopiolabs/product-team, @zopiolabs/ux-team, @zopiolabs/infra-team

feat(project-setup-mcp): implement MCP server for interactive project setup
  package.json
  packages/project-setup-mcp/README.md
  packages/project-setup-mcp/modules.json
  packages/project-setup-mcp/package.json
  packages/project-setup-mcp/scripts/validate-setup.ts
  packages/project-setup-mcp/src/__tests__/setup-flow.test.ts
  packages/project-setup-mcp/src/applicator/index.ts
  packages/project-setup-mcp/src/applicator/plan-applicator.ts
  packages/project-setup-mcp/src/generator/index.ts
  packages/project-setup-mcp/src/generator/plan-generator.ts
  packages/project-setup-mcp/src/index.ts
  packages/project-setup-mcp/src/interview/index.ts
  packages/project-setup-mcp/src/interview/questions.ts
  packages/project-setup-mcp/src/interview/state-machine.ts
  packages/project-setup-mcp/src/interview/types.ts
  packages/project-setup-mcp/src/schemas/changeset.ts
  packages/project-setup-mcp/src/schemas/index.ts
  packages/project-setup-mcp/src/schemas/plan.ts
  packages/project-setup-mcp/src/schemas/profile.ts
  packages/project-setup-mcp/src/schemas/session.ts
  packages/project-setup-mcp/src/server/index.ts
  packages/project-setup-mcp/src/server/setup-mcp-server.ts
  packages/project-setup-mcp/src/templates/env-templates.ts
  packages/project-setup-mcp/src/templates/index.ts
  packages/project-setup-mcp/src/templates/prisma-schema.ts
  packages/project-setup-mcp/src/templates/wiring-templates.ts
  packages/project-setup-mcp/tsconfig.json
  packages/project-setup-mcp/tsup.config.ts
  packages/project-setup-mcp/vitest.config.ts
  pnpm-lock.yaml
  scripts/index.ts
  scripts/project-setup.ts
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: implement project setup mcp and cli command
  package.json
  packages/project-setup-mcp/README.md
  packages/project-setup-mcp/package.json
  packages/project-setup-mcp/src/index.ts
  packages/project-setup-mcp/src/plan-executor.ts
  packages/project-setup-mcp/src/plan-generator.ts
  packages/project-setup-mcp/src/server.ts
  packages/project-setup-mcp/src/session-manager.ts
  packages/project-setup-mcp/src/types.ts
  packages/project-setup-mcp/tsconfig.json
  packages/project-setup-mcp/tsup.config.ts
  pnpm-lock.yaml
  scripts/index.ts
  scripts/project-setup.ts
  scripts/validate-project-setup.ts
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

fix: add dist/** to turbo.json outputs and clean script to setup mcp
  packages/project-setup-mcp/package.json
  turbo.json
Owners: @zopiolabs/core-team, @zopiolabs/infra-team

fix: improve env file merging logic to avoid duplicates
  packages/project-setup-mcp/src/plan-executor.ts
Owners: @zopiolabs/core-team

feat(parlant): add proxy and demos
  README.md
  apps/api/app/parlant/[...path]/route.ts
  apps/api/env.ts
  apps/app/app/(authenticated)/parlant-demo-internal/page.tsx
  apps/app/app/(unauthenticated)/parlant-demo/page.tsx
  apps/app/app/parlant-demo/parlant-chat.tsx
  apps/app/env.ts
  apps/app/package.json
  apps/parlant-server/README.md
  apps/parlant-server/main.py
  apps/parlant-server/requirements.txt
  package.json
  parlant-data/parlant.log
  pnpm-lock.yaml
Owners: @zopiolabs/docs-team, @zopiolabs/core-team, @zopiolabs/dx-team, @zopiolabs/product-team, @zopiolabs/infra-team
