Repository zopiolabs/zopio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zopiolabs/core-team, @zopiolabs/dx-team, @zopiolabs/ux-team, @zopiolabs/docs-team, @zopiolabs/product-team, @zopiolabs/infra-team

.github/CODEOWNERS:

# CODEOWNERS for Zopio Monorepo

# 🔒 Default: All files require core-team review unless overridden
* @zopiolabs/core-team

# ──────────────────────────────────────────────────────
# 🔌 DX Team (Development Experience and Backend Logics)
/apps/api/                       @zopiolabs/dx-team @zopiolabs/core-team
/devapps/dbstudio/               @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth/                  @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-abac/             @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-hooks/            @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-log/              @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-rbac/             @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-runner/           @zopiolabs/dx-team @zopiolabs/core-team
/packages/core-utils/            @zopiolabs/dx-team @zopiolabs/core-team
/packages/database/              @zopiolabs/dx-team @zopiolabs/core-team
/packages/mcp/                   @zopiolabs/dx-team @zopiolabs/core-team
/packages/trigger/               @zopiolabs/dx-team @zopiolabs/core-team
/packages/trigger-rules/         @zopiolabs/dx-team @zopiolabs/core-team
/packages/webhooks/              @zopiolabs/dx-team @zopiolabs/core-team
/registry/schemas/               @zopiolabs/dx-team @zopiolabs/core-team
/registry/types/                 @zopiolabs/dx-team @zopiolabs/core-team

# ───────────────────────────────────────────
# 🎨 UX Team (User Experience and Interfaces)
/apps/web/                       @zopiolabs/ux-team @zopiolabs/core-team
/devapps/emailstudio/            @zopiolabs/ux-team @zopiolabs/core-team
/devapps/storybook/              @zopiolabs/ux-team @zopiolabs/core-team
/packages/cms/                   @zopiolabs/ux-team @zopiolabs/core-team
/packages/design-system/         @zopiolabs/ux-team @zopiolabs/core-team
/packages/email/                 @zopiolabs/ux-team @zopiolabs/core-team
/packages/internationalization/  @zopiolabs/ux-team @zopiolabs/core-team
/packages/notifications/         @zopiolabs/ux-team @zopiolabs/core-team
/packages/seo/                   @zopiolabs/ux-team @zopiolabs/core-team
/websites/zopio-splash/          @zopiolabs/ux-team @zopiolabs/core-team
/registry/examples/              @zopiolabs/ux-team @zopiolabs/core-team

# ─────────────────────────────────────────────
# 📚 Docs Team (MD Documentations, Docs Portal)
/apps/docs/                      @zopiolabs/docs-team @zopiolabs/core-team
/websites/zopio-docs/            @zopiolabs/docs-team @zopiolabs/core-team
/README.md                       @zopiolabs/docs-team @zopiolabs/core-team
/CHANGELOG.md                    @zopiolabs/docs-team @zopiolabs/core-team
/CONTRIBUTING.md                 @zopiolabs/docs-team @zopiolabs/core-team
/LICENSE.md                      @zopiolabs/docs-team @zopiolabs/core-team
/registry/README.md              @zopiolabs/docs-team @zopiolabs/core-team

# ──────────────────────────────────────────────────────────
# 🧩 Product Team (App, Analytics, Payments, Business Flows)
/apps/app/                       @zopiolabs/product-team @zopiolabs/core-team
/packages/ai/                    @zopiolabs/product-team @zopiolabs/core-team
/packages/analytics/             @zopiolabs/product-team @zopiolabs/core-team
/packages/collaboration/         @zopiolabs/product-team @zopiolabs/core-team
/packages/feature-flags/         @zopiolabs/product-team @zopiolabs/core-team
/packages/payments/              @zopiolabs/product-team @zopiolabs/core-team
/registry/apps/                  @zopiolabs/product-team @zopiolabs/core-team
/registry/integrations/          @zopiolabs/product-team @zopiolabs/core-team
/registry/plugins/               @zopiolabs/product-team @zopiolabs/core-team

# ───────────────────────────────────────────────────────
# ⚙️ Infra Team (Infrastructure, CI/CD, DevOps, Security)
/.github/                        @zopiolabs/infra-team @zopiolabs/core-team
/.husky/                         @zopiolabs/infra-team @zopiolabs/core-team
/.vscode/                        @zopiolabs/infra-team @zopiolabs/core-team
/e2e/                            @zopiolabs/infra-team @zopiolabs/core-team
/packages/next-config/           @zopiolabs/infra-team @zopiolabs/core-team
/packages/observability/         @zopiolabs/infra-team @zopiolabs/core-team
/packages/rate-limit/            @zopiolabs/infra-team @zopiolabs/core-team
/packages/security/              @zopiolabs/infra-team @zopiolabs/core-team
/packages/storage/               @zopiolabs/infra-team @zopiolabs/core-team
/packages/testing/               @zopiolabs/infra-team @zopiolabs/core-team
/packages/typescript-config/     @zopiolabs/infra-team @zopiolabs/core-team
/registry/ci/                    @zopiolabs/infra-team @zopiolabs/core-team
/registry/templates/             @zopiolabs/infra-team @zopiolabs/core-team
/registry/tools/                 @zopiolabs/infra-team @zopiolabs/core-team
/scripts/                        @zopiolabs/infra-team @zopiolabs/core-team
/turbo/                          @zopiolabs/infra-team @zopiolabs/core-team
/.autorc                         @zopiolabs/infra-team @zopiolabs/core-team
/.cursorrules                    @zopiolabs/infra-team @zopiolabs/core-team
/.editorconfig                   @zopiolabs/infra-team @zopiolabs/core-team
/.gitattributes                  @zopiolabs/infra-team @zopiolabs/core-team
/.gitignore                      @zopiolabs/infra-team @zopiolabs/core-team
/.lintstagedrc.js                @zopiolabs/infra-team @zopiolabs/core-team
/.windsurfrules                  @zopiolabs/infra-team @zopiolabs/core-team
/biome.json                      @zopiolabs/infra-team @zopiolabs/core-team
/commitlint.config.js            @zopiolabs/infra-team @zopiolabs/core-team
/package.json                    @zopiolabs/infra-team @zopiolabs/core-team
/pnpm-lock.yaml                  @zopiolabs/infra-team @zopiolabs/core-team
/pnpm-workspace.yaml             @zopiolabs/infra-team @zopiolabs/core-team
/tsconfig.json                   @zopiolabs/infra-team @zopiolabs/core-team
/tsup.config.ts                  @zopiolabs/infra-team @zopiolabs/core-team
/turbo.json                      @zopiolabs/infra-team @zopiolabs/core-team

feat: add Docker configuration with multi-stage builds and compose files for development and production
  .dockerignore
  apps/api/Dockerfile
  apps/api/next.config.ts
  apps/app/Dockerfile
  apps/app/next.config.ts
  apps/web/Dockerfile
  apps/web/next.config.ts
  docker/Dockerfile.migrate
  docker/Dockerfile.storybook
  docker/README.md
  docker/dev.env
  docker/dev.env.example
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.proxy.yml
  docker/prod.env
  docker/prod.env.example
  websites/zopio-splash/Dockerfile
  websites/zopio-splash/next.config.ts
Owners: @zopiolabs/core-team, @zopiolabs/dx-team, @zopiolabs/product-team, @zopiolabs/ux-team

chore: add container names and native build dependencies for Docker images
  apps/api/Dockerfile
  apps/app/Dockerfile
  apps/web/Dockerfile
  docker/Dockerfile.migrate
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.proxy.yml
  websites/zopio-splash/Dockerfile
Owners: @zopiolabs/dx-team, @zopiolabs/core-team, @zopiolabs/product-team, @zopiolabs/ux-team

chore: improve docker compose configuration with env handling and traefik integration
  docker/README.md
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.proxy.yml
Owners: @zopiolabs/core-team

docs: enhance Docker setup documentation with comprehensive guides and examples
  docker/README.md
Owners: @zopiolabs/core-team

style: enhance mermaid diagrams with high contrast colors
  docker/README.md
Owners: @zopiolabs/core-team

chore: update pnpm-lock.yaml dependencies
  pnpm-lock.yaml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: add new UI components and stories for design system
  devapps/storybook/package.json
  devapps/storybook/stories/datetime-picker.stories.tsx
  devapps/storybook/stories/display-cards.stories.tsx
  devapps/storybook/stories/expandable-card.stories.tsx
  devapps/storybook/stories/footer.stories.tsx
  devapps/storybook/stories/hero.stories.tsx
  devapps/storybook/stories/kanban-gantt.stories.tsx
  devapps/storybook/stories/listbox.stories.tsx
  devapps/storybook/stories/number-flow.stories.tsx
  devapps/storybook/stories/open-source.stories.tsx
  devapps/storybook/stories/pricing-section.stories.tsx
  devapps/storybook/stories/timeline.stories.tsx
  devapps/storybook/stories/tweet-card.stories.tsx
  devapps/storybook/stories/word-reveal.stories.tsx
  packages/design-system/package.json
  packages/design-system/ui/datetime-picker.tsx
  packages/design-system/ui/display-cards.tsx
  packages/design-system/ui/expandable-card.tsx
  packages/design-system/ui/footer.tsx
  packages/design-system/ui/hero.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/kanban-gant/calendar-kg.tsx
  packages/design-system/ui/kanban-gant/header-kg.tsx
  packages/design-system/ui/kanban-gant/kanban-gantt.tsx
  packages/design-system/ui/kanban-gant/project-roadmap.tsx
  packages/design-system/ui/kanban-gant/timeline-kg.tsx
  packages/design-system/ui/listbox.tsx
  packages/design-system/ui/number-flow.tsx
  packages/design-system/ui/open-source.tsx
  packages/design-system/ui/pricing-section.tsx
  packages/design-system/ui/timeline.tsx
  packages/design-system/ui/tweet-card.tsx
  packages/design-system/ui/word-reveal.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: implement drag and drop functionality in Kanban board using @hello-pangea/dnd
  devapps/storybook/stories/kanban.stories.tsx
  package.json
  packages/design-system/ui/kanban.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: refactor calendar component with custom date picker implementation
  devapps/storybook/package.json
  devapps/storybook/stories/aspect-ratio.stories.tsx
  devapps/storybook/stories/calendar.stories.tsx
  devapps/storybook/stories/choicebox.stories.tsx
  devapps/storybook/stories/credit-card.stories.tsx
  devapps/storybook/styles/styles.css
  packages/design-system/ui/calendar.tsx
  packages/design-system/ui/credit-card.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

chore: add MIT license headers to calendar and credit card components
  devapps/storybook/stories/calendar.stories.tsx
  devapps/storybook/stories/credit-card.stories.tsx
  packages/design-system/ui/calendar.tsx
  packages/design-system/ui/credit-card.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: add standalone deck info component and optimize animations in display cards
  devapps/storybook/stories/deck.stories.tsx
  devapps/storybook/stories/dialog.stories.tsx
  packages/design-system/ui/credit-card.tsx
  packages/design-system/ui/deck.tsx
  packages/design-system/ui/display-cards.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: improve editor cursor retention and dropzone responsive layout
  devapps/storybook/stories/drawer.stories.tsx
  devapps/storybook/stories/dropzone.stories.tsx
  packages/design-system/ui/dropzone.tsx
  packages/design-system/ui/editor.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add controlled state management to editor size examples in storybook
  devapps/storybook/stories/editor.stories.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

style: update file tree story layout from vertical to horizontal spacing
  devapps/storybook/stories/file-tree.stories.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

style: adjust Gantt story component spacing from space-y to flex-col gap
  devapps/storybook/stories/gantt.stories.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

fix: improve wheel zoom handling in ImageZoom component by using native event listener
  devapps/storybook/stories/image-zoom.stories.tsx
  packages/design-system/ui/image-zoom.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add new OTP input story variants with 4-digit and 6-digit layouts
  devapps/storybook/stories/input-otp.stories.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

refactor: remove timeline view and simplify to calendar-only mode in kanban-gantt component
  devapps/storybook/stories/kanban-gantt.stories.tsx
  packages/design-system/ui/kanban-gant/header-kg.tsx
  packages/design-system/ui/kanban-gant/kanban-gantt.tsx
  packages/design-system/ui/kanban-gant/project-roadmap.tsx
  packages/design-system/ui/kanban-gant/timeline-kg.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

refactor: replace @hello-pangea/dnd with native HTML5 drag and drop for Kanban component
  devapps/storybook/stories/kanban.stories.tsx
  packages/design-system/ui/kanban.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

refactor: reimplement NumberFlow and List components with drag-and-drop support
  devapps/storybook/stories/list.stories.tsx
  devapps/storybook/stories/marquee.stories.tsx
  devapps/storybook/stories/number-flow.stories.tsx
  devapps/storybook/stories/open-source.stories.tsx
  devapps/storybook/stories/qr-code.stories.tsx
  devapps/storybook/stories/sandbox.stories.tsx
  packages/design-system/package.json
  packages/design-system/styles/globals.css
  packages/design-system/ui/list.tsx
  packages/design-system/ui/listbox.tsx
  packages/design-system/ui/marquee.tsx
  packages/design-system/ui/number-flow.tsx
  packages/design-system/ui/open-source.tsx
  packages/design-system/ui/pricing-section.tsx
  packages/design-system/ui/qr-code.tsx
  packages/design-system/ui/sandbox.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: add sandbox component with live code preview and stories
  devapps/storybook/package.json
  devapps/storybook/stories/sandbox.stories.tsx
  packages/design-system/package.json
  packages/design-system/ui/sandbox.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

refactor: standardize story components and improve error handling in Stories module
  devapps/storybook/stories/sheet.stories.tsx
  devapps/storybook/stories/sidebar.stories.tsx
  devapps/storybook/stories/spinner.stories.tsx
  devapps/storybook/stories/stories.stories.tsx
  packages/design-system/ui/stories.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add placeholder SVGs and replace external image URLs with local assets
  devapps/storybook/public/placeholder-avatar.svg
  devapps/storybook/public/placeholder-image.svg
  devapps/storybook/stories/stories.stories.tsx
  packages/design-system/ui/stories.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

chore: remove unused stories and placeholder assets from storybook
  devapps/storybook/public/placeholder-avatar.svg
  devapps/storybook/public/placeholder-image.svg
  devapps/storybook/stories/stories.stories.tsx
  devapps/storybook/stories/table.stories.tsx
  devapps/storybook/stories/ticker.stories.tsx
  devapps/storybook/stories/toast.stories.tsx
  devapps/storybook/stories/video-player.stories.tsx
  devapps/storybook/stories/word-reveal.stories.tsx
  packages/design-system/ui/stories.tsx
  packages/design-system/ui/table.tsx
  packages/design-system/ui/ticker.tsx
  packages/design-system/ui/timeline.tsx
  packages/design-system/ui/word-reveal.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

refactor: rename xyflow component to react-flow-playground and remove unused exports
  devapps/storybook/stories/react-flow-playground.stories.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/react-flow-playground.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

chore: remove code-block storybook stories in favor of new documentation
  devapps/storybook/stories/code-block.stories.tsx
  devapps/storybook/stories/credit-card.stories.tsx
  devapps/storybook/stories/deck.stories.tsx
  devapps/storybook/stories/form-builder.stories.tsx
  devapps/storybook/stories/kanban-gantt.stories.tsx
  devapps/storybook/stories/kanban.stories.tsx
  devapps/storybook/stories/pricing-section.stories.tsx
  devapps/storybook/stories/query-builder-v0.stories.tsx
  devapps/storybook/stories/react-flow-playground.stories.tsx
  devapps/storybook/stories/word-reveal.stories.tsx
  packages/design-system/ui/code-block.tsx
  packages/design-system/ui/credit-card.tsx
  packages/design-system/ui/deck.tsx
  packages/design-system/ui/form-builder.tsx
  packages/design-system/ui/kanban-gant/calendar-kg.tsx
  packages/design-system/ui/kanban-gant/header-kg.tsx
  packages/design-system/ui/kanban-gant/kanban-gantt.tsx
  packages/design-system/ui/kanban-gant/project-roadmap.tsx
  packages/design-system/ui/kanban.tsx
  packages/design-system/ui/pricing-section.tsx
  packages/design-system/ui/query-builder-v0.tsx
  packages/design-system/ui/react-flow-playground.tsx
  packages/design-system/ui/word-reveal.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

chore: remove unused announcement and banner stories from storybook
  devapps/storybook/stories/announcement.stories.tsx
  devapps/storybook/stories/banner.stories.tsx
  devapps/storybook/stories/calendar.stories.tsx
  devapps/storybook/stories/choicebox.stories.tsx
  devapps/storybook/stories/color-picker.stories.tsx
  devapps/storybook/stories/combobox.stories.tsx
  devapps/storybook/stories/comparison.stories.tsx
  devapps/storybook/stories/cursor.stories.tsx
  devapps/storybook/stories/datetime-picker.stories.tsx
  devapps/storybook/stories/dialog-stack.stories.tsx
  devapps/storybook/stories/display-cards.stories.tsx
  devapps/storybook/stories/dropzone.stories.tsx
  devapps/storybook/stories/editor.stories.tsx
  devapps/storybook/stories/expandable-card.stories.tsx
  devapps/storybook/stories/file-tree.stories.tsx
  devapps/storybook/stories/footer.stories.tsx
  devapps/storybook/stories/hero.stories.tsx
  packages/design-system/ui/advanced-sidebar.tsx
  packages/design-system/ui/announcement.tsx
  packages/design-system/ui/banner.tsx
  packages/design-system/ui/calendar.tsx
  packages/design-system/ui/choicebox.tsx
  packages/design-system/ui/color-picker.tsx
  packages/design-system/ui/combobox.tsx
  packages/design-system/ui/comparison.tsx
  packages/design-system/ui/cursor.tsx
  packages/design-system/ui/datetime-picker.tsx
  packages/design-system/ui/dialog-stack.tsx
  packages/design-system/ui/display-cards.tsx
  packages/design-system/ui/dropzone.tsx
  packages/design-system/ui/editor.tsx
  packages/design-system/ui/expandable-card.tsx
  packages/design-system/ui/file-tree.tsx
  packages/design-system/ui/footer.tsx
  packages/design-system/ui/hero.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: delete component for split item
  devapps/storybook/stories/gantt.stories.tsx
  devapps/storybook/stories/glimpse.stories.tsx
  devapps/storybook/stories/hover-card.stories.tsx
  devapps/storybook/stories/image-crop.stories.tsx
  devapps/storybook/stories/kbd.stories.tsx
  devapps/storybook/stories/list.stories.tsx
  devapps/storybook/stories/listbox.stories.tsx
  devapps/storybook/stories/marquee.stories.tsx
  devapps/storybook/stories/mini-calendar.stories.tsx
  devapps/storybook/stories/number-flow.stories.tsx
  devapps/storybook/stories/pill.stories.tsx
  devapps/storybook/stories/qr-code.stories.tsx
  devapps/storybook/stories/rating.stories.tsx
  devapps/storybook/stories/relative-time.stories.tsx
  devapps/storybook/stories/snippet.stories.tsx
  packages/design-system/ui/gantt.tsx
  packages/design-system/ui/glimpse.tsx
  packages/design-system/ui/image-crop.tsx
  packages/design-system/ui/image-zoom.tsx
  packages/design-system/ui/kbd.tsx
  packages/design-system/ui/list.tsx
  packages/design-system/ui/listbox.tsx
  packages/design-system/ui/marquee.tsx
  packages/design-system/ui/mini-calendar.tsx
  packages/design-system/ui/number-flow.tsx
  packages/design-system/ui/pill.tsx
  packages/design-system/ui/qr-code.tsx
  packages/design-system/ui/rating.tsx
  packages/design-system/ui/relative-time.tsx
  packages/design-system/ui/snippet.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

fix: delete component storybook examples and stories
  devapps/storybook/stories/spinner.stories.tsx
  devapps/storybook/stories/status.stories.tsx
  devapps/storybook/stories/tags.stories.tsx
  devapps/storybook/stories/tweet-card.stories.tsx
  packages/design-system/ui/spinner.tsx
  packages/design-system/ui/status.tsx
  packages/design-system/ui/tags.tsx
  packages/design-system/ui/tweet-card.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add announcement and banner component stories to Storybook
  devapps/storybook/stories/announcement.stories.tsx
  devapps/storybook/stories/banner.stories.tsx
  devapps/storybook/stories/choicebox.stories.tsx
  packages/design-system/ui/announcement.tsx
  packages/design-system/ui/banner.tsx
  packages/design-system/ui/choicebox.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add CodeBlock component stories with syntax highlighting and variants
  devapps/storybook/stories/code-block.stories.tsx
  devapps/storybook/stories/color-picker.stories.tsx
  devapps/storybook/stories/combobox.stories.tsx
  packages/design-system/ui/code-block.tsx
  packages/design-system/ui/color-picker.tsx
  packages/design-system/ui/combobox.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add code block component stories with syntax highlighting and variants
  devapps/storybook/stories/code-block.stories.tsx
  devapps/storybook/stories/color-picker.stories.tsx
  devapps/storybook/stories/combobox.stories.tsx
  packages/design-system/ui/code-block.tsx
  packages/design-system/ui/color-picker.tsx
  packages/design-system/ui/combobox.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add comparison, credit-card, and cursor components with Storybook files
  devapps/storybook/stories/comparison.stories.tsx
  devapps/storybook/stories/credit-card.stories.tsx
  devapps/storybook/stories/cursor.stories.tsx
  packages/design-system/ui/comparison.tsx
  packages/design-system/ui/credit-card.tsx
  packages/design-system/ui/cursor.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add storybook components for datetime picker and swipeable deck
  devapps/storybook/stories/datetime-picker.stories.tsx
  devapps/storybook/stories/deck.stories.tsx
  devapps/storybook/stories/dialog-stack.stories.tsx
  packages/design-system/ui/datetime-picker.tsx
  packages/design-system/ui/deck.tsx
  packages/design-system/ui/dialog-stack.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add display-cards and dropzone storybook components with variants and examples
  devapps/storybook/stories/display-cards.stories.tsx
  devapps/storybook/stories/dropzone.stories.tsx
  devapps/storybook/stories/editor.stories.tsx
  packages/design-system/ui/display-cards.tsx
  packages/design-system/ui/dropzone.tsx
  packages/design-system/ui/editor.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add storybook stories for ExpandableCard and FileTree components
  devapps/storybook/stories/expandable-card.stories.tsx
  devapps/storybook/stories/file-tree.stories.tsx
  devapps/storybook/stories/footer.stories.tsx
  packages/design-system/ui/expandable-card.tsx
  packages/design-system/ui/file-tree.tsx
  packages/design-system/ui/footer.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add form builder and gantt chart Storybook stories
  devapps/storybook/stories/form-builder.stories.tsx
  devapps/storybook/stories/gantt.stories.tsx
  devapps/storybook/stories/glimpse.stories.tsx
  packages/design-system/ui/form-builder.tsx
  packages/design-system/ui/gantt.tsx
  packages/design-system/ui/glimpse.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add hero and image crop stories to storybook
  devapps/storybook/stories/hero.stories.tsx
  devapps/storybook/stories/image-crop.stories.tsx
  devapps/storybook/stories/image-zoom.stories.tsx
  packages/design-system/ui/hero.tsx
  packages/design-system/ui/image-crop.tsx
  packages/design-system/ui/image-zoom.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add KanbanGantt component with calendar and task management features
  devapps/storybook/stories/kanban-gantt.stories.tsx
  packages/design-system/ui/kanban-gant/calendar-kg.tsx
  packages/design-system/ui/kanban-gant/header-kg.tsx
  packages/design-system/ui/kanban-gant/kanban-gantt.tsx
  packages/design-system/ui/kanban-gant/project-roadmap.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: add Kanban board stories with variants and bug tracking workflow
  devapps/storybook/stories/kanban.stories.tsx
  devapps/storybook/stories/kbd.stories.tsx
  devapps/storybook/stories/list.stories.tsx
  packages/design-system/ui/kanban.tsx
  packages/design-system/ui/kbd.tsx
  packages/design-system/ui/list.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team
