Repository zopiolabs/zopio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zopiolabs/core-team, @zopiolabs/dx-team, @zopiolabs/ux-team, @zopiolabs/docs-team, @zopiolabs/product-team, @zopiolabs/infra-team

.github/CODEOWNERS:

# CODEOWNERS for Zopio Monorepo

# 🔒 Default: All files require core-team review unless overridden
* @zopiolabs/core-team

# ──────────────────────────────────────────────────────
# 🔌 DX Team (Development Experience and Backend Logics)
/apps/api/                       @zopiolabs/dx-team @zopiolabs/core-team
/devapps/dbstudio/               @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth/                  @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-abac/             @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-hooks/            @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-log/              @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-rbac/             @zopiolabs/dx-team @zopiolabs/core-team
/packages/auth-runner/           @zopiolabs/dx-team @zopiolabs/core-team
/packages/core-utils/            @zopiolabs/dx-team @zopiolabs/core-team
/packages/database/              @zopiolabs/dx-team @zopiolabs/core-team
/packages/mcp/                   @zopiolabs/dx-team @zopiolabs/core-team
/packages/trigger/               @zopiolabs/dx-team @zopiolabs/core-team
/packages/trigger-rules/         @zopiolabs/dx-team @zopiolabs/core-team
/packages/webhooks/              @zopiolabs/dx-team @zopiolabs/core-team
/registry/schemas/               @zopiolabs/dx-team @zopiolabs/core-team
/registry/types/                 @zopiolabs/dx-team @zopiolabs/core-team

# ───────────────────────────────────────────
# 🎨 UX Team (User Experience and Interfaces)
/apps/web/                       @zopiolabs/ux-team @zopiolabs/core-team
/devapps/emailstudio/            @zopiolabs/ux-team @zopiolabs/core-team
/devapps/storybook/              @zopiolabs/ux-team @zopiolabs/core-team
/packages/cms/                   @zopiolabs/ux-team @zopiolabs/core-team
/packages/design-system/         @zopiolabs/ux-team @zopiolabs/core-team
/packages/email/                 @zopiolabs/ux-team @zopiolabs/core-team
/packages/internationalization/  @zopiolabs/ux-team @zopiolabs/core-team
/packages/notifications/         @zopiolabs/ux-team @zopiolabs/core-team
/packages/seo/                   @zopiolabs/ux-team @zopiolabs/core-team
/websites/zopio-splash/          @zopiolabs/ux-team @zopiolabs/core-team
/registry/examples/              @zopiolabs/ux-team @zopiolabs/core-team

# ─────────────────────────────────────────────
# 📚 Docs Team (MD Documentations, Docs Portal)
/apps/docs/                      @zopiolabs/docs-team @zopiolabs/core-team
/websites/zopio-docs/            @zopiolabs/docs-team @zopiolabs/core-team
/README.md                       @zopiolabs/docs-team @zopiolabs/core-team
/CHANGELOG.md                    @zopiolabs/docs-team @zopiolabs/core-team
/CONTRIBUTING.md                 @zopiolabs/docs-team @zopiolabs/core-team
/LICENSE.md                      @zopiolabs/docs-team @zopiolabs/core-team
/registry/README.md              @zopiolabs/docs-team @zopiolabs/core-team

# ──────────────────────────────────────────────────────────
# 🧩 Product Team (App, Analytics, Payments, Business Flows)
/apps/app/                       @zopiolabs/product-team @zopiolabs/core-team
/packages/ai/                    @zopiolabs/product-team @zopiolabs/core-team
/packages/analytics/             @zopiolabs/product-team @zopiolabs/core-team
/packages/collaboration/         @zopiolabs/product-team @zopiolabs/core-team
/packages/feature-flags/         @zopiolabs/product-team @zopiolabs/core-team
/packages/payments/              @zopiolabs/product-team @zopiolabs/core-team
/registry/apps/                  @zopiolabs/product-team @zopiolabs/core-team
/registry/integrations/          @zopiolabs/product-team @zopiolabs/core-team
/registry/plugins/               @zopiolabs/product-team @zopiolabs/core-team

# ───────────────────────────────────────────────────────
# ⚙️ Infra Team (Infrastructure, CI/CD, DevOps, Security)
/.github/                        @zopiolabs/infra-team @zopiolabs/core-team
/.husky/                         @zopiolabs/infra-team @zopiolabs/core-team
/.vscode/                        @zopiolabs/infra-team @zopiolabs/core-team
/e2e/                            @zopiolabs/infra-team @zopiolabs/core-team
/packages/next-config/           @zopiolabs/infra-team @zopiolabs/core-team
/packages/observability/         @zopiolabs/infra-team @zopiolabs/core-team
/packages/rate-limit/            @zopiolabs/infra-team @zopiolabs/core-team
/packages/security/              @zopiolabs/infra-team @zopiolabs/core-team
/packages/storage/               @zopiolabs/infra-team @zopiolabs/core-team
/packages/testing/               @zopiolabs/infra-team @zopiolabs/core-team
/packages/typescript-config/     @zopiolabs/infra-team @zopiolabs/core-team
/registry/ci/                    @zopiolabs/infra-team @zopiolabs/core-team
/registry/templates/             @zopiolabs/infra-team @zopiolabs/core-team
/registry/tools/                 @zopiolabs/infra-team @zopiolabs/core-team
/scripts/                        @zopiolabs/infra-team @zopiolabs/core-team
/turbo/                          @zopiolabs/infra-team @zopiolabs/core-team
/.autorc                         @zopiolabs/infra-team @zopiolabs/core-team
/.cursorrules                    @zopiolabs/infra-team @zopiolabs/core-team
/.editorconfig                   @zopiolabs/infra-team @zopiolabs/core-team
/.gitattributes                  @zopiolabs/infra-team @zopiolabs/core-team
/.gitignore                      @zopiolabs/infra-team @zopiolabs/core-team
/.lintstagedrc.js                @zopiolabs/infra-team @zopiolabs/core-team
/.windsurfrules                  @zopiolabs/infra-team @zopiolabs/core-team
/biome.json                      @zopiolabs/infra-team @zopiolabs/core-team
/commitlint.config.js            @zopiolabs/infra-team @zopiolabs/core-team
/package.json                    @zopiolabs/infra-team @zopiolabs/core-team
/pnpm-lock.yaml                  @zopiolabs/infra-team @zopiolabs/core-team
/pnpm-workspace.yaml             @zopiolabs/infra-team @zopiolabs/core-team
/tsconfig.json                   @zopiolabs/infra-team @zopiolabs/core-team
/tsup.config.ts                  @zopiolabs/infra-team @zopiolabs/core-team
/turbo.json                      @zopiolabs/infra-team @zopiolabs/core-team

docs: add GitHub workflow policies and templates for repository management
  .github/policies/BRANCHES.md
  .github/policies/CONVENTIONAL_COMMITS.md
  .github/policies/DISCUSSIONS.md
  .github/policies/GIT_FLOW_DIAGRAM.SVG
  .github/policies/GIT_FLOW_DIAGRAM.md
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: add GitHub issue templates for bug reports, features, docs and more
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/devops.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

docs: add AI agent guidelines and project structure templates
  .github/ai-guides/.cursorrules.example
  .github/ai-guides/.windsurfsules.example
  .github/ai-guides/copilot-instructions.md.example
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

docs: add Model Context Protocol (MCP) guides and implementation details
  .github/ai-guides/mcp-guide.md
  .github/ai-guides/mcp-implementation.md
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: add GitHub workflow for generating AI summaries of pull requests
  .github/workflows/ai-summary.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add welcome workflow for new contributors
  .github/workflows/welcome.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

chore: add stale issue workflow to automatically close inactive issues
  .github/workflows/stale.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add automated PR assignment workflow with CODEOWNERS integration
  .github/workflows/pr-assignment.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add automated PR workflow for backmerging version bumps from main to develop
  .github/workflows/pr-backmerge.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add PR labeler workflow to automatically tag pull requests
  .github/workflows/pr-labeler.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add PR static checks workflow for linting and type checking
  .github/workflows/pr-static-checks.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add PR validation workflow with branch naming, title, size and breaking change checks
  .github/workflows/pr-validation.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: add comprehensive security scan workflow with CodeQL, Trivy, and TruffleHog
  .github/workflows/security.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add GitHub Actions workflow for PR validation with monorepo build and test setup
  .github/workflows/build.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

ci: add GitHub Actions workflow for automated releases
  .github/workflows/release.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

chore: add coding standards configuration files for cursor and windsurf IDEs
  .cursorrules
  .windsurfrules
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

chore: add root pnpm lockfile
  .github/workflows/release.yml
  pnpm-lock.yaml
  websites/zopio-splash/pnpm-lock.yaml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team, @zopiolabs/ux-team

chore: Storybook configuration formatting
  devapps/storybook/.storybook/main.ts
  devapps/storybook/.storybook/preview.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

chore: initialize sample plugin package with React peer dependencies
  registry/plugins/sample-plugin/package.json
Owners: @zopiolabs/product-team, @zopiolabs/core-team

feat: add new design system components and storybook stories
  devapps/storybook/stories/cursor.stories.tsx
  devapps/storybook/stories/imageCrop.stories.tsx
  devapps/storybook/stories/imageZoom.stories.tsx
  packages/design-system/ui/cursor.tsx
  packages/design-system/ui/imageCrop.tsx
  packages/design-system/ui/imageZoom.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat(design-system): add basic UI components
  .windsurf/rules/conventions.md
  devapps/storybook/package.json
  devapps/storybook/stories/announcement.stories.tsx
  devapps/storybook/stories/banner.stories.tsx
  devapps/storybook/stories/glimpse.stories.tsx
  devapps/storybook/stories/pill.stories.tsx
  devapps/storybook/stories/rating.stories.tsx
  devapps/storybook/stories/spinner.stories.tsx
  devapps/storybook/stories/status.stories.tsx
  devapps/storybook/stories/tags.stories.tsx
  devapps/storybook/tsconfig.json
  package.json
  packages/design-system/package.json
  packages/design-system/ui/announcement.tsx
  packages/design-system/ui/banner.tsx
  packages/design-system/ui/glimpse.tsx
  packages/design-system/ui/pill.tsx
  packages/design-system/ui/rating.tsx
  packages/design-system/ui/spinner.tsx
  packages/design-system/ui/status.tsx
  packages/design-system/ui/tags.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/core-team, @zopiolabs/ux-team, @zopiolabs/infra-team

feat(design-system): add avatar components
  devapps/storybook/stories/avatar-carousel.stories.tsx
  devapps/storybook/stories/avatar-stack.stories.tsx
  packages/design-system/ui/avatar-carousel.tsx
  packages/design-system/ui/avatar-stack.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

fix(ci): handle fork PRs in workflow permissions
  .github/workflows/pr-assignment.yml
  .github/workflows/pr-validation.yml
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: add clean-branch script to automatically remove stale git branches
  package.json
  scripts/clean-branch.js
Owners: @zopiolabs/infra-team, @zopiolabs/core-team

feat: add interactive stepper component with stories
  devapps/storybook/stories/interactive-stepper.stories.tsx
  packages/design-system/ui/interactive-stepper.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat(ui): stepper has been added
  devapps/storybook/stories/interactive-stepper.stories.tsx
  packages/design-system/ui/interactive-stepper.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: adding ui from prisma/ui
  devapps/storybook/stories/display-cards.stories.tsx
  devapps/storybook/stories/expandable-card.stories.tsx
  devapps/storybook/stories/floating-action-panel.stories.tsx
  devapps/storybook/stories/hero-badge.stories.tsx
  devapps/storybook/stories/interactive-popover.stories.tsx
  devapps/storybook/stories/status-badge.stories.tsx
  devapps/storybook/stories/tweet-card.stories.tsx
  packages/design-system/package.json
  packages/design-system/ui/display-cards.tsx
  packages/design-system/ui/expandable-card.tsx
  packages/design-system/ui/floating-action-panel.tsx
  packages/design-system/ui/hero-badge.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/interactive-popover.tsx
  packages/design-system/ui/project-status-card.tsx
  packages/design-system/ui/status-badge.tsx
  packages/design-system/ui/tweet-card.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: prism ui's component has been added
  devapps/storybook/stories/action-button.stories.tsx
  devapps/storybook/stories/button-group.stories.tsx
  devapps/storybook/stories/enhanced-button.stories.tsx
  devapps/storybook/stories/hero.stories.tsx
  devapps/storybook/stories/logo-carousel.stories.tsx
  devapps/storybook/stories/number-flow.stories.tsx
  devapps/storybook/stories/open-source.stories.tsx
  devapps/storybook/stories/pricing.stories.tsx
  devapps/storybook/stories/timeline.stories.tsx
  devapps/storybook/stories/word-reveal.stories.tsx
  packages/design-system/package.json
  packages/design-system/ui/action-button.tsx
  packages/design-system/ui/button-group.tsx
  packages/design-system/ui/enhanced-button.tsx
  packages/design-system/ui/hero.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/logo-carousel.tsx
  packages/design-system/ui/number-flow.tsx
  packages/design-system/ui/open-source.tsx
  packages/design-system/ui/pricing.tsx
  packages/design-system/ui/timeline.tsx
  packages/design-system/ui/word-reveal.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: number counter, flow features has been added
  devapps/storybook/stories/number-counter.stories.tsx
  devapps/storybook/stories/number-flow-barvian.stories.tsx
  devapps/storybook/stories/number-flow-input.stories.tsx
  devapps/storybook/stories/number-flow-motion.stories.tsx
  package.json
  packages/design-system/ui/index.ts
  packages/design-system/ui/number-counter.tsx
  packages/design-system/ui/number-flow-barvian.css
  packages/design-system/ui/number-flow-barvian.tsx
  packages/design-system/ui/number-flow-input.tsx
  packages/design-system/ui/number-flow-motion.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: xyflow schema has been added
  devapps/storybook/stories/flow.stories.tsx
  packages/design-system/ui/flow.tsx
  packages/design-system/ui/index.ts
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: add XYFlow plugin with example usage and configuration
  pnpm-lock.yaml
  registry/examples/sample-plugin-usage/tsconfig.json
  registry/examples/sample-plugin-usage/xyflow-usage.tsx
  registry/package.json
  registry/plugins/xylow-plugin/index.tsx
  registry/plugins/xylow-plugin/package.json
  registry/plugins/xylow-plugin/zopio.module.json
Owners: @zopiolabs/infra-team, @zopiolabs/core-team, @zopiolabs/ux-team, @zopiolabs/product-team

feat: chat-ui
  devapps/storybook/stories/chat-avatar-demo.stories.tsx
  devapps/storybook/stories/chat-bubble-avatar.stories.tsx
  devapps/storybook/stories/chat-comparison-demo.stories.tsx
  devapps/storybook/stories/draggable-avatar.stories.tsx
  devapps/storybook/stories/global-draggable-avatar.stories.tsx
  package.json
  packages/design-system/tsconfig.json
  packages/design-system/types/chat-bubble.d.ts
  packages/design-system/ui/chat-avatar-demo.tsx
  packages/design-system/ui/chat-bubble-integration.tsx
  packages/design-system/ui/chat-bubble-window.tsx
  packages/design-system/ui/chat-comparison-demo.tsx
  packages/design-system/ui/chat-window.tsx
  packages/design-system/ui/draggable-avatar.tsx
  packages/design-system/ui/global-draggable-avatar.tsx
  packages/design-system/ui/index.ts
  pnpm-lock.yaml
  types/chat-bubble.d.ts
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: shadcn interface has been added
  devapps/storybook/package.json
  devapps/storybook/stories/autosize-textarea.stories.tsx
  devapps/storybook/stories/blockquote.stories.tsx
  devapps/storybook/stories/datetime-picker.stories.tsx
  devapps/storybook/stories/dual-range-slider.stories.tsx
  devapps/storybook/stories/floating-label-input.stories.tsx
  devapps/storybook/stories/heading-with-anchor.stories.tsx
  devapps/storybook/stories/infinite-scroll.stories.tsx
  devapps/storybook/stories/loading-button.stories.tsx
  devapps/storybook/stories/magic-back-button.stories.tsx
  devapps/storybook/stories/multiple-selector.stories.tsx
  devapps/storybook/stories/progress-with-value.stories.tsx
  devapps/storybook/stories/rate-limit-demo.stories.tsx
  devapps/storybook/stories/responsive-modal.stories.tsx
  devapps/storybook/stories/typewriter.stories.tsx
  packages/design-system/examples/api-route-example.ts
  packages/design-system/lib/navigation.tsx
  packages/design-system/lib/rate-limit.ts
  packages/design-system/package.json
  packages/design-system/ui/autosize-textarea.tsx
  packages/design-system/ui/blockquote.tsx
  packages/design-system/ui/datetime-picker.tsx
  packages/design-system/ui/dual-range-slider.tsx
  packages/design-system/ui/floating-label-input.tsx
  packages/design-system/ui/heading-with-anchor.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/infinite-scroll.tsx
  packages/design-system/ui/loading-button.tsx
  packages/design-system/ui/magic-back-button.tsx
  packages/design-system/ui/multiple-selector.tsx
  packages/design-system/ui/progress-with-value.tsx
  packages/design-system/ui/prop-link.tsx
  packages/design-system/ui/rate-limit-demo.tsx
  packages/design-system/ui/responsive-modal.tsx
  packages/design-system/ui/typewriter.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: add enhanced UI components with stories for modal, radio, and dropdown
  devapps/storybook/package.json
  devapps/storybook/stories/container.stories.tsx
  devapps/storybook/stories/divider.stories.tsx
  devapps/storybook/stories/dropdown-menu.stories.tsx
  devapps/storybook/stories/enhanced-dropdown.stories.tsx
  devapps/storybook/stories/enhanced-progress.stories.tsx
  devapps/storybook/stories/footer.stories.tsx
  devapps/storybook/stories/grid.stories.tsx
  devapps/storybook/stories/image.stories.tsx
  devapps/storybook/stories/link.stories.tsx
  devapps/storybook/stories/mega-menu.stories.tsx
  devapps/storybook/stories/menu.stories.tsx
  devapps/storybook/stories/modal.stories.tsx
  devapps/storybook/stories/navbar.stories.tsx
  devapps/storybook/stories/radio.stories.tsx
  packages/design-system/package.json
  packages/design-system/ui/container.tsx
  packages/design-system/ui/divider.tsx
  packages/design-system/ui/enhanced-dropdown.tsx
  packages/design-system/ui/enhanced-progress.tsx
  packages/design-system/ui/footer.tsx
  packages/design-system/ui/grid.tsx
  packages/design-system/ui/image.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/link.tsx
  packages/design-system/ui/mega-menu.tsx
  packages/design-system/ui/menu.tsx
  packages/design-system/ui/modal.tsx
  packages/design-system/ui/navbar.tsx
  packages/design-system/ui/radio.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: add Icon and Listbox components with Storybook stories
  devapps/storybook/stories/icon.stories.tsx
  devapps/storybook/stories/listbox.stories.tsx
  packages/design-system/ui/icon.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/listbox.tsx
  registry/plugins/xylow-plugin/package.json
  registry/plugins/xylow-plugin/zopio.module.json
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/product-team

feat: add editable gantt component with task management popovers and inline editing
  devapps/storybook/.storybook/main.ts
  devapps/storybook/package.json
  devapps/storybook/stories/editable-field.stories.tsx
  devapps/storybook/stories/xgantt.stories.tsx
  packages/design-system/package.json
  packages/design-system/ui/editable-field.tsx
  packages/design-system/ui/index.ts
  packages/design-system/ui/xgantt/EditableGantt.tsx
  packages/design-system/ui/xgantt/GanttFeatureItem.tsx
  packages/design-system/ui/xgantt/GanttProvider.tsx
  packages/design-system/ui/xgantt/GanttSidebar.tsx
  packages/design-system/ui/xgantt/TaskAddPopover.tsx
  packages/design-system/ui/xgantt/TaskPopover.tsx
  packages/design-system/ui/xgantt/index.ts
  packages/design-system/ui/xgantt/types.ts
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: new ui
  packages/design-system/ui/new.tsx
  pnpm-lock.yaml
Owners: @zopiolabs/ux-team, @zopiolabs/core-team, @zopiolabs/infra-team

feat: add editable gantt component with task management popovers and inline editing
  packages/design-system/ui/new.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

chore: remove unused New component from design system
  packages/design-system/ui/new.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team

feat: implement shadcn/ui form builder with component library and live preview
  devapps/storybook/stories/form-builder.stories.tsx
  packages/design-system/ui/form-builder.tsx
Owners: @zopiolabs/ux-team, @zopiolabs/core-team
